# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# macOS system files
.DS_Store

# Log files
*.log

# IDE / Editor settings
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build / distribution folders
build/
dist/
*.egg-info/
